/* ------------------------------
   BODY
--------------------------------*/
body {
    font-size: 2.5vh;
    margin: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}


/* ------------------------------
   NAVIGATION BAR
--------------------------------*/
nav {
    background: #ffffff;
    padding: 12px 20px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 600;
}

nav ul li a:hover {
    color: #e68a00;
}


/* ------------------------------
   CALCULATOR CONTAINER
--------------------------------*/
#calculator {
    width: auto;
    padding: 1.5vh;
    border: 5px solid #666666;
    border-radius: 15px;

    /* Center without overlapping navbar */
    margin: 150px auto 0 auto;   /* pushes calculator below navbar */
    position: relative;
    width: fit-content;
    background-color: black;
}


/* ------------------------------
   DISPLAY BOX
--------------------------------*/
.box {
    text-align: right;
    font-size: 2.8vh;
    height: 3vh;
    line-height: 3vh;
    padding: 1em;
    border: 2px solid #e68a00;
    color: white;
    border-radius: 15px;
    background-color: black;
}

#last_operation_history {
    height: 1.8vh;
    font-size: 1.8vh;
    text-align: right;
    padding-right: 1.5vh;
    color: rgb(177, 176, 176);
    background-color: black;
}


/* ------------------------------
   BUTTONS
--------------------------------*/
button {
    width: 9vh;
    height: 9vh;
    font-weight: bold;
    font-size: 3vh;
    color: white;
    background-color: #666666;
    border-radius: 50%;
    border: 1px solid #333333;
}

button:hover {
    background-color: #999999;
    cursor: pointer;
}

.operator {
    background-color: #e68a00;
}

.operator:hover {
    background-color: #ffd11a;
}

#equal_sign {
    width: 100%;
    border-radius: 15px;
}

#backspace_btn {
    background-image: url("../assets/back_remove.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 1.7em;
}
